# Secrets
.env
.dev.env
OAI_CONFIG_LIST.json

# Program related
process_pids/
kernel_connection_file.json

# Python stuff
*.egg-info/
venv
.venv
__pycache__/

# IDE
.vscode/

# Logs
*.log

dist/
build/